.header1 {
    justify-content: center;
    text-align: center;
    padding-top: 13px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    color: white;
    margin-bottom: 50px;
}

.header2 {
    /* padding-top: 10px; */
    font-size: 20px;
    margin-top: 30px;
}


.body {
    background-color: rgba(101, 101, 168, 0.559);
}

.label1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: lefts;
}

.label1 input{
    font-size: 23px;
    text-align-last: left;
}


.box {
    box-decoration-break: slice;
    text-align-last: center;
    width: 600px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 80px;
}

.head1 {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    filter: drop-shadow(10px 5px 10px rgb(0, 0, 0));
}

.head2 {
    display: flex;
    gap: 20px;
    padding-left: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 40px;
}

.a{
  padding: 5px 15px;
  color: #ffffff;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 35px;
  text-decoration: none;
  text-align-last: 80px;
  border: 2px solid #a2b8b7ad;
}
  .a:hover{
    border: 2px solid #ffffff;
    background: none;
    transform: scale(1.1);
  }

.logo{
    height: 120px;
    position: absolute;
    right: 2%;
    top: 0;
    border-radius: 60%;
    padding: 0px;
}
.button1{
        font-size: 20px;
        text-decoration: none;  
        color: black; 
        font-family: 'Times New Roman', Times, serif;
}
.button1:hover{
    background: none;
    transform: scale(1.1);
}
.button2 {
    border-color: #a2b8b7ad;
    background-color:none;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 600;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 55px;
    width: 160px;
    text-decoration: none;
    border: 2px solid , #a2b8b7ad;
    filter : drop-shadow(0px 0px 5px black);
    margin: auto;
    margin-top : 50px;
    border : 2px solid white;
}

.button2:hover{
    border: 2px solid #ffffff;
    background: none;
    transform: scale(1.1);
}

.button3{
    text-decoration: none;
    font-size: 25px;
    color: none;
}
.button3:hover{
    transform: scale(1.1);
}

.footer1 {
    padding-top: 100px;
    text-align: center;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nike{
        color: black;
        padding: 30px;
}

.footer2 {
    padding-top: 30px;
    text-decoration: underline;
}